body {
      background-color: lightgreen;
}

 

h1 {
    background-color: blue;
    color: white;
}

 

p  {
    background-color: red;
}

 

ol {
    background-color: pink;
    border:5px solid darkgreen;
    border-radius: 10px;
}