body{
	background-color: blue;
}





h1{
   border:10px solid darkblue;
   margin:20px;
   padding:30px;
   height: 100px;
   background-color: lightblue;
   font-size: 30px;
   border-radius: 20px;
}

p {
   border: 10px dotted darkblue;
   margin:20px;
   padding:30px;
   height: 100px;
   background-color: lightblue;
   font-size: 30px;
   text-align: right;
   border-radius: 20px;
}

