div{
	width: 1000px;
	height: 400px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
p{
	background-color: grey;
}
h2{
	background-color: firebrick;
	width: 1000px;
	height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img{
	width: 100px;
	height: 120px;
}