
.container{
	display: flex;
	justify-content: center;
	align-items: center;
    height: 300px;

}
.ball{
		height: 22px;
		width: 22px;
		margin: 10px;
		border-radius: 50%;
		animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
  }
.blue{
   background: rgb(0,29,36);
background: radial-gradient(circle, rgba(0,29,36,1) 0%, rgba(9,115,121,1) 29%, rgba(2,168,226,1) 95%, rgba(0,212,255,1) 98%);
}
.red{
	background-color: red;
	animation-delay: 0.25s;
}
.yellow{
	background-color: yellow;
	animation-delay: 0.5s;

}
.green{
	background-color: green;
	animation-delay: 0.75s;
}
.text{
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 5px;
	animation-name: text;
	animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes bounce{
	
}
@keyframes text{
	0%{opacity: 0%;}
	50%{opacity: 100%;}
	100%{opacity: 0%;}
}